body {
  background-color: #32383F;
  color: white;
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #6C7A8C;
  color: black;
  margin-top: 5%;
  border-radius: 5px;
}

.sans {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.serif {
  font-family: 'Marcellus', 'Georgia', 'Palatino', 'Times', serif;
}

.nav {
  position: fixed;
  width: 40%;
  z-index: 1;
  left: 30%;
  top: 0;
  height: 50px;
  border-radius: 0 0 5px 5px;
  background-color: #A4B9D6 ;
  color: #212529;
}
